@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: 'Sagace';
    src: url('../Font/Sagace-Regular.woff2') format('woff2'),
         url('../Font/Sagace-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } */